package main

templ Home() {
		<!doctype html>
		<html lang="en">
				<head>
						<meta charset="UTF-8" />
						<meta name="viewport" content="width=device-width, initial-scale=1" />
						<title>Home | Matthew Kennedy</title>
						<link rel="stylesheet" href="./static/css/styles.css" />
				</head>
				<body>
						<h1>Matthew Kennedy</h1>
						<nav>
								<div class="nav-links">
										<ul>
												<li><a href="/">Home</a></li>
												<li><a href="http://localhost:1313">Blog</a></li>
												<li><a href="/now">Now</a></li>
												<li><a href="/about">About</a></li>
												<li><a href="/micro">Reel</a></li>
												<li><a href="/photos">Photos</a></li>
												<li><a href="/music">Tunes</a></li>
										</ul>
								</div>
						</nav>
				</body>
		</html>
}
