body {
    /* background-color: black; */
    background-color: #212121;
    color: white; /* make text visible */
    font-family: sans-serif;
    margin: 0;
    padding: 1rem;
}
h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}
// #nav-links {
    // color: white;
    // padding: 1rem;
    // }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    gap: 1rem;              
}
ul li {
    float: none;           
}
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
