package components

templ Footer() {
<footer>
  <a>© 2025-2026 Matthew Kennedy</a>
  <br>
  <div class="badges">
	<a href="https://artixlinux.org/" target="_blank" rel="noopener">
      <img src="/static/badges/gnu-linux.gif" alt="GNU/Linux" width="88" height="31">
    </a>
	<a href="https://www.gnu.org/software/emacs/" target="_blank" rel="noopener">
      <img src="/static/badges/createdwithemacs.png" alt="Created with Emacs" width="88" height="31">
    </a>
    <img src="/static/badges/no-ai.svg" alt="No AI" width="88" height="31">
    <img src="/static/badges/made-by-hand.gif" alt="Made by Hand" width="88" height="31">
    <a href="https://blog.matthew-kennedy.com/index.xml" target="_blank">
      <img src="/static/badges/rss.gif" alt="RSS Feed" width="88" height="31">
    </a>
    <a href="mailto:matthew@matthew-kennedy.com">
      <img src="/static/badges/reply-via-email.gif" alt="Reply via Email" width="88" height="31">
    </a>
	<br>
	<a href="https://grapheneos.org" target="_blank" rel="noopener">
      <img src="/static/badges/grapheneos.gif" alt="GrapheneOS" width="88" height="31">
    </a>
    <a href="https://kagi.com/smallweb" target="_blank" rel="noopener">
      <img src="/static/badges/kagi.gif" alt="Kagi Small Web" width="88" height="31">
    </a>
	<a href="https://craftering.systemcrafters.net/@scc/previous">←</a> <a href="https://craftering.systemcrafters.net/">craftering</a> <a href="https://craftering.systemcrafters.net/@scc/next">→</a>
  </div>
</footer>
}
