package components

templ NavBar() {
	<style>
	nav {
		margin: 1rem;
	}

    .nav-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center; 
        gap: 1rem;              
    }

    .link {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
</style>
	<nav>
		<div class="nav-links">
			<ul class="nav-list">
				<li><a class="link" href="/">Home</a></li>
				<li><a class="link" href="https://blog.matthew-kennedy.com">Blog</a></li>
				<li><a class="link" href="/now">Now</a></li>
				<li><a class="link" href="/about">About</a></li>
				<li><a class="link" href="/micro">Reel</a></li>
				<li><a class="link" href="/photos">Photos</a></li>
				<li><a class="link" href="/music">Tunes</a></li>
			</ul>
		</div>
	</nav>
}
