package components

templ NavBar() {
	<nav>
		<div class="nav-links">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="http://localhost:1313">Blog</a></li>
				<li><a href="http://localhost:1313/posts/now">Now</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/micro">Reel</a></li>
				<li><a href="/photos">Photos</a></li>
				<li><a href="/music">Tunes</a></li>
			</ul>
		</div>
	</nav>
}
