package pages

import "github.com/Matthew-K310/matthew-kennedy/components"

templ Home() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Home | Matthew Kennedy</title>
			<link rel="stylesheet" href="/static/css/styles.css"/>
		</head>
		<body>
			@components.Header()
			@components.NavBar()
			<div class="text-block">
				<h1>Under construction</h1>
				<p>Hey there! Thanks for visiting my website!</p>
				<p>
					While there may not be much right now, I plan to add more interactive and social features to the site in the
					coming months.
				</p>
			</div>
			@components.Footer()
		</body>
	</html>
}
