package pages

import "codeberg.org/Matthew-K310/matthew-kennedy/components"

templ Home() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Home | Matthew Kennedy</title>
			<link rel="stylesheet" href="/static/css/styles.css"/>
		</head>
		<body>
			@components.Header()
			@components.NavBar()
			<div class="text-block">
				<h1>Welcome!</h1>
					<p>
							This is my personal site, where I can share various
							projects (code, music, visual, etc.).
				</p>
			</div>
			@components.Footer()
		</body>
	</html>
}
