package pages

import "github.com/Matthew-K310/matthew-kennedy/components"

templ Home() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Home | Matthew Kennedy</title>
			<link rel="stylesheet" href="../static/css/styles.css"/>
		</head>
		<body>
			@components.Header()
			@components.NavBar()
		</body>
	</html>
}
