package pages

import "codeberg.org/Matthew-K310/matthew-kennedy/components"

templ Now() {
		<html lang="en">
				<head>
						<meta charset="UTF-8"/>
						<meta name="viewport" content="width=device-width, initial-scale=1"/>
						<title>Now | Matthew Kennedy</title>
						<link rel="stylesheet" href="/static/css/styles.css"/>
				</head>
				<body>
						@components.Header()
						@components.NavBar()
						<div class="text-block">
								<header>
										<h1>Now</h1>
								</header>
								<p>You should make a <a href="https://nownownow.com/">Now page</a>.</p>
								<section>
										<div>
												<h2>Projects</h2>
										</div>
										<div>
												<ul>
														<li>
																Making a game for the <a href="https://itch.io/jam/gamedevtv-jam-2026">GameDev.tv Game Jam</a>
														</li>
														<li>
																Working on a FOSS, federated Goodreads alternative.
														</li>
														<li>
																Hacking on my <a href="https://codeberg.org/Matthew-K310/.emacs.d.git">Emacs configuration.</a>
														</li>
												</ul>
										</div>
								</section>
								<section>
										<div>
												<h2>Reading</h2>
										</div>
										<div>
												<ul>
												<li>Colossians - Bible study</li>
												<li>Ecclesiastes - Bible reading</li>
														<li>Hunger Games
																<br>
																		<a>Suzanne Collins - Science(?) Fiction</a>
														</li>
												</ul>
										</div>
								</section>
								<section>
										<div>
												<h2>Listening</h2>
										</div>
										<div>
												<p>
														I am a huge music fan, and I've been doing music production off and on since 2020, so music really
														means a lot to me. These are just a few of the albums I've been enjoying as of late.
												</p>
												<div>
														<h3>Work & Focus</h3>
														<p>
																I blame <a href="https://joshblais.com/blog/productivity-hack-music/">Joshua Blais</a> { "for" } starting me down this path.
														</p>
														<ul>
																<li>Katana ZERO (Original Soundtrack)</li>
																<li>FTL: Faster Than Light - Original Soundtrack</li>
																<li>Endless Space 2 - Original Soundtrack</li>
														</ul>
												</div>
												<div>
														<h3>Leisure Listening</h3>
														<ul>
																<li>Halo: Combat Evolved - Original Soundtrack</li>
																<li>Assassins Creed IV: Black Flag - Original Soundtrack</li>
																<li>Hotline Miami 2: Wrong Number Sountrack</li>
														</ul>
												</div>
										</div>
								</section>
								<section>
										<div>
												<h2>Learning</h2>
										</div>
										<div>
												<ul>
														<li>Emacs and Elisp</li>
														<li>Zig</li>
														<li>Raylib (specifically <a href="https://github.com/raylib-zig/raylib-zig">raylib-zig</a>)</li>
												</ul>
										</div>
								</section>
								<section>
										<div>
												<h2>Watching</h2>
												<p>
														I haven't found modern TV to be all that interesting at this point, so this list will likely be empty for quite some time.
												</p>
										</div>
								</section>
										<section>
												<div>
														<h2>Playing</h2>
														<p>
																I've started to get back into gaming in the form of playing some older single-player games
																that I missed out on when I was younger. These fill the story-hungry void left by modern television.
														</p>
												</div>
												<div>
												<ul>
														<li>The Mass Effect Trilogy (currently on Mass Effect 2 and am quite enthralled)</li>
														<li>Assassin's Creed IV: Black Flag</li>
														<li>Assassin's Creed III</li>
														<li>Outer Wilds (for the relaxing gaming sessions)</li>
												</ul>
										</div>
										</section>
						</div>
						@components.Footer()
				</body>
		</html>
}
