package pages

import "github.com/Matthew-K310/matthew-kennedy/components"

templ Photos() {
		<!DOCTYPE html>
		<html lang="en">
				<head>
						<meta charset="UTF-8"/>
						<meta name="viewport" content="width=device-width, initial-scale=1"/>
						<title>Music | Matthew Kennedy</title>
						<link rel="stylesheet" href="/static/css/photos.css"/>
				</head>
				<body>
						@components.Header()
						@components.NavBar()
						<div class="photo-grid">
								<div class="photo-container">
										<img src="/static/assets/vintage-chevy.jpg" alt="Vintage Chevy" />
								</div>
								<div class="photo-container">
										<img src="/static/assets/green-truck.jpg" alt="Green Truck" />
								</div>
								<div class="photo-container">
										<img src="/static/assets/sunset-hoop.jpg" alt="Sunset Hoop" />
								</div>
						</div>
				</body>
		</html>
}
